/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fafafa;
  background-image: url('https://images.hdqwalls.com/download/assetto-corsa-video-game-5k-bo-2048x1152.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}

/* Header e Navegação */
header {
  background-color: #333;
  padding: 20px 0;
}

.nav-container {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-container li {
  margin: 0 15px;
}

.nav-container li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-container li a:hover {
  text-decoration: underline;
}

/* Conteúdo Principal */
main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Flexbox */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;/* Centraliza os itens */
  gap: 15px; /* Espaço entre os itens */
  padding: 20px;
}

.flex-item {
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 15px;
  /* Permite que o item cresça e encolha, com tamanho base de 200px */
  text-align: center;
  font-size: 1.2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.flex-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.flex-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  a {
      color: blueviolet;
  }

  a:hover {
      color: rgb(177, 95, 255);
  }
}

@media (max-width: 768px) {
  .nav-container {
      flex-direction: column;
      text-align: center;
      padding: 0.5rem;
  }

  .nav-container a {
      padding: 1rem;
      margin: 0.25rem 0;
  }
}