/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fafafa;
    background-image: url('https://images.hdqwalls.com/download/assetto-corsa-video-game-5k-bo-2048x1152.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header e Navegação */
header {
    background-color: #333;
    padding: 20px 0;
}

.nav-container {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-container li {
    margin: 0 15px;
}

.nav-container li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-container li a:hover {
    text-decoration: underline;
}

/* Conteúdo Principal */
.main-content {
    flex: 1;
    padding-bottom: 60px;
    /* Espaço para o footer */
}

/* Página Inicial */
.home-main {
    padding: 2rem;
    text-align: center;
}

.home-main h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 0 1rem;
}

.card {
    background-color: #fff;
    border: 1px solid #818181;
    padding: 1.5rem;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.btn-card {
    display: inline-block;
    width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

/* Player de Áudio */
.player-container {
    text-align: center;
    padding: 2rem;
}

.player-container audio {
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
    display: block;
}

.player-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    a {
        color: blueviolet;
    }

    a:hover {
        color: rgb(177, 95, 255);
    }
}

/* Media Queries */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        text-align: center;
        padding: 0.5rem;
    }

    .nav-container a {
        padding: 1rem;
        margin: 0.25rem 0;
    }

    .home-main {
        padding: 1rem;
    }

    .home-main h1 {
        font-size: 2rem;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    .flex-container {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .home-main h1 {
        font-size: 1.75rem;
    }

    .home-p {
        font-size: 1rem;
    }

    .card {
        padding: 1rem;
    }

    .btn-card {
        padding: 0.6rem;
        font-size: 0.9rem;
    }

    .form-container {
        margin: 1rem;
        padding: 1rem;
    }
}